<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.libooksserver.admin.service.implement.IAdminDaoMapper">

    <select id="selectUsersByFiltering" resultType="HashMap" parameterType="String">
        SELECT * FROM tbl_user WHERE u_role = 'ROLE_USER'
        <if test="keyword != ''">
            AND( u_email LIKE CONCAT('%', #{keyword}, '%') OR u_name LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

    <select id="selectAdminsByFiltering" resultType="HashMap" parameterType="String">
        SELECT * FROM tbl_user WHERE u_role = 'ROLE_ADMIN'
        <if test="keyword != ''">
            AND( u_email LIKE CONCAT('%', #{keyword}, '%') OR u_name LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

    <update id="updateUserState" parameterType="Integer">
        UPDATE tbl_user
        SET u_state = CASE
                          WHEN u_state = 0 THEN 1
                          WHEN u_state = 1 THEN 0
            END
        WHERE u_no = #{no}

    </update>
</mapper>