<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.libooksserver.user.service.implement.ICommunityDaoMapper">

    <select id="selectCommunity" resultType="com.office.libooksserver.user.dto.CommunityDto">
        SELECT * FROM tbl_community ORDER BY c_reg_date desc
    </select>

    <insert id="insertNewCommunity" parameterType="hashMap">
        INSERT INTO tbl_community (u_no, c_category, c_title, c_content, c_reg_date, c_mod_date) VALUES (1, #{category}, #{title}, #{content},  now(), now())
    </insert>

    <update id="updateCommunityHit" parameterType="Integer">
        UPDATE tbl_community SET c_hit = c_hit +1 WHERE c_no = #{cNo}
    </update>

    <select id="getCommunityDetail"  parameterType="Integer" resultType="com.office.libooksserver.user.dto.CommunityDto">
        SELECT * from tbl_community where c_no = #{cNo}
    </select>

    <update id="updateCommunity" parameterType="hashMap">
        UPDATE tbl_community SET c_category = #{category}, c_title = #{title}, c_content = #{content}, c_mod_date = now() WHERE c_no = #{id}
    </update>

</mapper>